# Machine Learning & Deep Learning
torch
torchvision
timm
numpy
opencv-python
Pillow
scikit-learn

# Web Backend
flask
flask-cors
requests

# Web Frontend / APIs
express
node-fetch

# Blockchain
web3

# Utilities
tqdm
